<form >
  <!-- [FormGroup]="form" -->
  <mat-form-field>
    <input
      matInput
      placeholder="Nombre de Usuario"
      required
      name="username"
      formControlName = "nombreUsuario"
     >
     <!--  #username="ngModel" -->
    <mat-icon matSuffix>perm_identity</mat-icon>
  
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      required
      name="email"
      ngModel
      formControlName="email"
      >
      <!-- #email="ngModel" -->
      <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Contraseña"
      type="password"
      required
      minlength="6"
      name="password"
      ngModel
      formControlName="pass"
     >

    <mat-icon matSuffix>lock</mat-icon>

  </mat-form-field>
  <mat-form-field>
      <input
      matInput
      placeholder="Contraseña"
      type="password"
      required
      minlength="6"
      name="repassword"
      ngModel
      formControlName="pass2"
      >
      <!-- #repassword="ngModel" -->
      <!-- <mat-error
        *ngIf="repassword.errors && repassword.errors.required">
        Re-Enter Password is required
      </mat-error> -->
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="login-button">
    Registrarse
  </button>
</form>
