<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Iniciar sesion/Registro</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Iniciar sesion">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
               >
             
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Contraseña"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  >
                 
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox>Remember Me!</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Iniciar sesion
              </button>

              <!-- <button
                mat-raised-button
                class="login-button">
                Login with Google
              </button> -->
            </form>
          </mat-card-content>
      </mat-tab>
      <mat-tab label="Registro">
        <mat-card-content>
          <app-registro></app-registro>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
